$pink: #FB2E86;
$red: #FB2448;
$off_navy_blue: #3F509E;
$navy_blue: #151875;
$blue: #2F1AC4;
$sky_blue: #F3F9FF;
$off_purple: #9F63B5;
$pantone_purple: #E0D3F5;
$purple: #7E33E0;
$text: #151875;
$green: #05E6B7;