@import "./_variables.scss";

.wrapper {
    width: 100%;
    height: 400px;
    background-color: #F2F0FF;

    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    @media only screen and (max-width: 426px) {
        height: 350px;
    }

    .lamp {
        position: absolute;
        max-width: 300px;
        max-height: 300px;

        left: -40px;

        @media only screen and (max-width: 768px) {
            max-width: 150px;
            max-height: 150px;

            left: 0px;
        }

        @media only screen and (max-width: 426px) {
            display: none;
        }
    }
}

.wrapperContent {
    max-width: 500px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 130px;

    gap: 10px;

    @media only screen and (max-width: 426px) {
         margin-left: 20px;
    }

    h6 {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Lato';
        color: $pink;

        @media only screen and (max-width: 768px) {
            font-size: 14px;
        }

        @media only screen and (max-width: 426px) {
            font-size: 12px;
        }
    }

    h1 {
        font-size: 40px;
        font-weight: bold;
        font-family: 'Josefin Sans';
        line-height: 50px;

        @media only screen and (max-width: 768px) {
            font-size: 30px;
            line-height: 36px;
        }

        @media only screen and (max-width: 426px) {
            font-size: 20px;
            line-height: 30px;
        }
    }

    p {
        font-size: 16px;
        font-weight: bold;
        font-family: 'Lato';
        color: #8A8FB9;

        @media only screen and (max-width: 768px) {
            font-size: 12px;
        }

        @media only screen and (max-width: 426px) {
            font-size: 10px;
        }
    }

    button {
        margin-top: 20px;
    }
}

.imageRight {
    background-image: url('../../public/images/round.svg');
    width: 373px;
    height: 364px;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 20px;

    @media only screen and (max-width: 426px) {
        height: 328px;
    }

    img {
        width: 300px;
        height: 300px;

        @media only screen and (max-width: 768px) {
            width: 150px;
            height: 150px;

            margin-left: 60px;
        }
    }

}